.photo-grid {
   
    display: grid;
    max-width: 90%;
    grid-template-columns: repeat(auto, 288px);
    justify-content: center;
    margin: 0 auto 64px;
    gap: 12px;
}

@media (min-width: 720px) {
    .photo-grid {
        grid-template-columns: repeat(2, 352px);
        gap: 16px;
        margin-bottom:  88px;
        max-width: 100%;

    }
}

@media (min-width: 950px) {
    .photo-grid {
        grid-template-columns: repeat(3, 300px);
        gap: 14px;
        margin: 0;
        padding: 0 48px 92px;
        
    }
}

@media (min-width: 1200px) {
    .photo-grid {
        grid-template-columns: repeat(4, 284px);
        gap: 16px;
        
       
        
    }
}