.places {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
   
}

@media (min-width: 425px) {
  .places {
      width: 94%;
      
  }

}

@media (min-width: 900px) {
  .places {
      width: 90%;
  }

}

@media (min-width: 1200px) {
  .places {
      width: 77%;
      
  }

}