.intro__list {
  margin: 0 0 64px;
  font-size: 12px;
  font-style: normal;
  line-height: 150%;
  white-space: pre-line;
}

@media (min-width: 700px) {
  .intro__list{ 
   margin-bottom: 88px;
   max-width: 720px;
  }
}

@media (min-width: 900px) {
  .intro__list{ 
   margin-bottom: 92px;
   max-width: 690px;
  }
}