.cover__subtitle {
    margin: auto;
    max-width: 288px;
    min-height: 48px;
    text-align: center;
    padding-bottom: 33px;
    font-size: 14px;
    line-height: 1.14;
    font-weight: normal;
}

@media (min-width: 400px) {
  .cover__subtitle {
    max-width: 360px;
    min-height: 66px;
    padding-bottom: 70px;
  }
}

@media (min-width: 700px) {
    .cover__subtitle {
      font-size: 18px;
      line-height: 1.22;
      padding-bottom: 115px;
    }
}

@media (min-width: 900px) {
  .cover__subtitle {
    padding-bottom: 195px;
  }
}

@media (min-width: 1200px) {
  .cover__subtitle {
    padding-bottom: 245px;
  }
}