.place__text {
    max-width: 288px;
    margin: 0 auto;
    
}

@media (min-width: 700px) {
  .place__text {
      max-width: 352px;
      margin: 0;
      
  }

}

@media (min-width: 900px) {
  .place__text {
      max-width: 456px;
      
  }

}

@media (min-width: 1200px) {
  .place__text {
      max-width: 484px;
      
  }

}