.intro {
    width: 90%;
    margin: auto;
}

@media (min-width: 700px) {
    .intro {
        margin: 0 24px;
        min-width: 720px;
    }
}

@media (min-width: 900px) {
    .intro {
        max-width: 690px;
        margin: 0 48px;
    }
}