.intro {
    max-width: 90%;
    margin: auto;

}


@media (min-width: 768px) {
    .intro {
        max-width: 720px;

    }
}

@media (min-width: 900px) {
    .intro {
        max-width: 690px;
        margin-left: 48px;

    }
}

@media (min-width: 1025px) {
    .intro {
        
        margin-left: 10%;

    }
}


@media (min-width: 1200px) {
    .intro {
        margin-left: 148px;

    }
}