.lead__subtitle {
    margin: 0 0 40px;
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    max-width: 288px;

}
