.cover {
    margin-bottom: 64px;
    height: calc(100vw / 1.6);
}

@media (min-width: 700px) {
    .cover {
      margin-bottom: 88px;
}
}

@media (min-width: 900px) {
    .cover {
      margin-bottom: 92px;
}
}