.cover {
    margin-bottom: 64px;
    min-height: calc(100vw / 1.6);
}

@media (min-width: 700px) {
    .cover {
      margin-bottom: 88px;
}
}

@media (min-width: 900px) {
    .cover {
      margin-bottom: 92px;
}
}

@media (min-width: 1200px) {
    .cover {
      min-height: 740px;
    }
}