.place {
    display: grid;
    gap: 32px;
    margin-bottom: 50px;
}

.place:last-of-type {
    margin-bottom: 66px;
}

@media (min-width: 700px) {
    .place {
        grid-template-columns: 340px 352px;
        gap: 48px 28px;
        margin: 0 auto 73px;
    }
}