.place__url-heading {
    margin: 0 0 12px;
    font-weight: normal;
    letter-spacing: 0.2em;
    font-size: 12px;
    color: #aaa;
}

@media (min-width: 700px) {
    .place__url-heading {
        
        
    }
}